.config-container{
  max-width: 338px;
  margin: 0 auto;
  margin-top: 20px;
}
.config-header{
  display: flex;
  justify-content: space-between;
  color: white;
}
.config-body{
  margin-top: 20px;
  color: white;
}
.config-range{
  margin-bottom: 15px;
}
